body{
    background-color: rgb(243, 239, 225);
  
}
a{
    color:gray;
}
a:hover{
    color:yellow;
}
img.one{
    width: 100%;
   }
div.aboutus{
    margin-left: 5px;
    
}
abbr[title]:after
{
   content: " (" attr(title) ")";
}

@media screen and (min-width: 800px)
{
   abbr[title]
   {
      border-bottom: 1px dashed #ADADAD;
      cursor:help;
   }

   abbr[title]:after
   {
      content: "";
   }
}
address{
    color: rgb(175, 175, 175);
}